aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-doc==0.0.4
antlr4-python3-runtime==4.9.3
anyio==4.12.1
audioread==3.1.0
av==15.1.0
blinker==1.9.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.1.8; python_version < "3.10"
click>=8.2.1; python_version >= "3.10"
coloredlogs==15.0.1
crcmod==1.7
cryptography==46.0.5
ctranslate2==4.7.1
decorator==5.2.1
editdistance==0.8.1
exceptiongroup==1.3.1
faster-whisper==1.2.1
filelock==3.19.1
Flask==3.1.3
flatbuffers==25.12.19
fsspec==2025.10.0
funasr==1.3.1
h11==0.16.0
hf-xet==1.3.2
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.6.0
humanfriendly==10.0
hydra-core==1.3.2
idna==3.11
importlib_metadata==8.7.1
itsdangerous==2.2.0
jaconv==0.5.0
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.6
jmespath==0.10.0
joblib==1.5.3
kaldiio==2.18.1
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
modelscope==1.34.0
mpmath==1.3.0
msgpack==1.1.2
networkx==3.2.1
numba==0.60.0
numpy==2.0.2
omegaconf==2.3.0
onnxruntime==1.19.2
oss2==2.19.1
packaging==26.0
platformdirs==4.4.0
pooch==1.9.0
protobuf==6.33.5
pycparser==2.23
pycryptodome==3.23.0
Pygments==2.19.2
pynndescent==0.6.0
pytorch-wpe==0.0.1
PyYAML==6.0.3
requests==2.32.5
rich==14.3.3
scikit-learn==1.6.1
scipy==1.13.1
sentencepiece==0.2.1
shellingham==1.5.4
six==1.17.0
soundfile==0.13.1
soxr==1.0.0
sympy==1.14.0
tensorboardX==2.6.4
threadpoolctl==3.6.0
tokenizers==0.22.2
torch==2.8.0
torch-complex==0.4.4
torchaudio==2.8.0
tqdm==4.67.3
typer==0.23.2
typing_extensions==4.15.0
umap-learn==0.5.11
urllib3==2.6.3
Werkzeug==3.1.6
zipp==3.23.0
